@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-md-none {
  display: none;
}

.btn-rounded {
  padding: 5px;
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 25px;
}

.btn-arrow {
  background-color: white;
  border-radius: 100%;
  margin-left: 15px;
  padding: 5px;
}

.btn-more {
  background: #ececec;
  box-shadow: 27px 32px 40px rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: #313945;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-100-vh {
  height: auto;
  min-height: 100vh;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.p-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white !important;
}

.text-dark {
  color: black !important;
}

.max-text {
  max-width: 100%;
  width: 620px;
}

.section-100 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: right center;
  overflow: auto;
  z-index: 1;
}

.pnl-50 {
  width: 50%;
}

.bg-home {
  background-image: url("../img/home.jpg");
}

.bg-dark {
  background-color: #1d2427;
  color: white;
}

.bg-white {
  background-color: white;
  color: back;
}

.opacity-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(31, 39, 45, 0.4);
  /*  opacity: .50;*/
  z-index: 1;
}

.banner-left {
  position: relative;
  margin-top: 0;
  width: 100px;
  height: 100%;
  background: #1d2427;
  z-index: 101;
}

.uk-button-primary {
  background-color: #455077;
}

.card-custom {
  width: 300px;
  min-height: 350px;
  box-shadow: 0px 4px 120px rgba(49, 57, 69, 0.2);
  border-radius: 40px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.text-card-tile {
  color: #777777 !important;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

@media screen and (max-width: 850px) {
  .banner-left {
    display: none;
  }

  .d-md-none {
    display: block;
  }

  .pnl-100 {
    display: block !important;
  }

  .pnl-50 {
    width: 100%;
  }
  .bg-home {
    margin-top: -120px !important;
  }
}

@media screen and (max-width: 440px) {
  .logo-none {
    display: none;
  }
}

.footer {
  position: relative;
  height: 200px;
  background-color: white;
}

.bg-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 25px);
  height: 100%;
  background: #1d2427;
  border-radius: 0px 75px 0px 0px;
}

.uk-active a {
  color: #f6b586 !important;
}

.uk-dark {
  background-color: #1d2427 !important;
}
